/**-----INDEX-----**/
.hero{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.216) 0%, hsla(0, 0%, 0%, 0.851) 100%), url(../img/hero2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: calc(100vh - 72px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    p{
        font-size: 20px;
        margin: 30px 0 30px 0;
    }
    h1{
        font-size: 60px;
        font-weight: bold;
    }
    p{
        font-size: 20px;
        margin: 30px 0 30px 0;
    }
}

.historia{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    color: #676767;
    margin: 50px 0;
    div{
        width: 50%;
        h2{
            font-size: 32px;
            color: rgb(75, 169, 171);
            margin-bottom: 20px;
            font-weight: bold;
        }
        p{
            font-size: 17px;
            text-align: justify;
            margin-bottom: 30px;
        }
        a{
            text-decoration: none;
            color: rgba(255, 255, 255, 0.9) !important;
            font-weight: bold;
            font-size: 16px;
            background: #4da078;
            padding: 15px 50px;
            border-radius: 5px;
            &:hover{
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.242);
            }
        }
    }
    img{
        width: 40%;
        border-radius: 5px;
    }
}

.ubicacion{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    flex-direction: row-reverse;
    color: #676767;
    margin-bottom: 50px;
    div{
        width: 50%;
        h2{
            font-size: 32px;
            font-weight: bold;
            color: rgb(75, 169, 171);
            margin-bottom: 20px;
        }
        p{
            font-size: 17px;
            text-align: justify;
            margin-bottom: 30px;
        }
        a{
            text-decoration: none;
        color: rgba(255, 255, 255, 0.9) !important;
        font-weight: bold;
        font-size: 16px;
        background: #4da078;
        padding: 15px 50px;
        border-radius: 5px;
        &:hover{
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.242);
        }
        }
    }
    img{
        width: 40%;
        border-radius: 5px;
    }
}

.articulos{
    background-color: rgba(233, 233, 233, 0.692);
    .articulos-subtitulo{
        text-align: center;
        margin: 50px;
        padding-top: 40px;
        color: rgb(75, 169, 171);
        font-size: 34px;
        font-weight: bold;
    }
    .band{
        width: 92%;
        margin: 0 auto;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        .item-1{
            grid-column: 1 / span 2;
            .card{
                background: white;
                text-decoration: none;
                color: #444;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: column;
                min-height: 100%;
                position: relative;
                top: 0;
                transition: all .1s ease-in;
                &:hover{
                    top: -2px;
                    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
                }
                .thumb{
                    padding-bottom: 60%;
                    background-size: cover;
                    background-position: center center;
                    background-image: url(../img/Imagen4.jpg);
                }
                article{
                    padding: 20px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h1{
                        font-size: 24px;
                        margin: 0;
                        color: #333;
                    }
                    p{
                        flex: 1;
                        line-height: 1.4;
                        margin-top: 10px;
                        &:hover{
                            color: rgb(75, 169, 171);
                        }
                    }
                    span{
                        font-size: 12px;
                        font-weight: bold;
                        color: #999;
                        text-transform: uppercase;
                        letter-spacing: .05em;
                        margin: 2em 0 0 0;
                    }
                }
            }
        }
        .item-2{
            .card{
                background: white;
                text-decoration: none;
                color: #444;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: column;
                min-height: 100%;
                position: relative;
                top: 0;
                transition: all .1s ease-in;
                &:hover{
                    top: -2px;
                    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
                }
                .thumb{
                    padding-bottom: 60%;
                    background-size: cover;
                    background-position: center center;
                    background-image: url(../img/Imagen2.jpg);
                }
                article{
                    padding: 20px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h1{
                        font-size: 20px;
                        margin: 0;
                        color: #333;
                    }
                    p{
                        flex: 1;
                        line-height: 1.4;
                        margin-top: 10px;
                        &:hover{
                            color: rgb(75, 169, 171);
                        }
                    }
                    span{
                        font-size: 12px;
                        font-weight: bold;
                        color: #999;
                        text-transform: uppercase;
                        letter-spacing: .05em;
                        margin: 2em 0 0 0;
                    }
                }
            }
        }
        .item-3{
            .card{
                background: white;
                text-decoration: none;
                color: #444;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: column;
                min-height: 100%;
                position: relative;
                top: 0;
                transition: all .1s ease-in;
                &:hover{
                    top: -2px;
                    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
                }
                .thumb{
                    padding-bottom: 60%;
                    background-size: cover;
                    background-position: center center;
                    background-image: url(../img/Imagen3.jpg);
                }
                article{
                    padding: 20px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h1{
                        font-size: 20px;
                        margin: 0;
                        color: #333;
                    }
                    p{
                        flex: 1;
                        line-height: 1.4;
                        margin-top: 10px;
                        &:hover{
                            color: rgb(75, 169, 171);
                        }
                    }
                    span{
                        font-size: 12px;
                        font-weight: bold;
                        color: #999;
                        text-transform: uppercase;
                        letter-spacing: .05em;
                        margin: 2em 0 0 0;
                    }
                }
            }
        }
        .item-4{
            .card{
                background: white;
                text-decoration: none;
                color: #444;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: column;
                min-height: 100%;
                position: relative;
                top: 0;
                transition: all .1s ease-in;
                &:hover{
                    top: -2px;
                    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
                }
                .thumb{
                    padding-bottom: 60%;
                    background-size: cover;
                    background-position: center center;
                    background-image: url(../img/Imagen1.jpg);
                }
                article{
                    padding: 20px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h1{
                        font-size: 20px;
                        margin: 0;
                        color: #333;
                    }
                    p{
                        flex: 1;
                        line-height: 1.4;
                        margin-top: 10px;
                        &:hover{
                            color: rgb(75, 169, 171);
                        }
                    }
                    span{
                        font-size: 12px;
                        font-weight: bold;
                        color: #999;
                        text-transform: uppercase;
                        letter-spacing: .05em;
                        margin: 2em 0 0 0;
                    }
                }
            }
        }
        .item-5{
            .card{
                background: white;
                text-decoration: none;
                color: #444;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: column;
                min-height: 100%;
                position: relative;
                top: 0;
                transition: all .1s ease-in;
                &:hover{
                    top: -2px;
                    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
                }
                .thumb{
                    padding-bottom: 60%;
                    background-size: cover;
                    background-position: center center;
                    background-image: url(../img/Imagen5.jpg);
                }
                article{
                    padding: 20px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h1{
                        font-size: 20px;
                        margin: 0;
                        color: #333;
                    }
                    p{
                        flex: 1;
                        line-height: 1.4;
                        margin-top: 10px;
                        &:hover{
                            color: rgb(75, 169, 171);
                        }
                    }
                    span{
                        font-size: 12px;
                        font-weight: bold;
                        color: #999;
                        text-transform: uppercase;
                        letter-spacing: .05em;
                        margin: 2em 0 0 0;
                    }
                }
            }
        }
        .item-6{
            .card{
                background: white;
                text-decoration: none;
                color: #444;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: column;
                min-height: 100%;
                position: relative;
                top: 0;
                transition: all .1s ease-in;
                &:hover{
                    top: -2px;
                    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
                }
                .thumb{
                    padding-bottom: 60%;
                    background-size: cover;
                    background-position: center center;
                    background-image: url(../img/Imagen6.jpg);
                }
                article{
                    padding: 20px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h1{
                        font-size: 20px;
                        margin: 0;
                        color: #333;
                    }
                    p{
                        flex: 1;
                        line-height: 1.4;
                        margin-top: 10px;
                        &:hover{
                            color: rgb(75, 169, 171);
                        }
                    }
                    span{
                        font-size: 12px;
                        font-weight: bold;
                        color: #999;
                        text-transform: uppercase;
                        letter-spacing: .05em;
                        margin: 2em 0 0 0;
                    }
                }
            }
        }
        .item-7{
            .card{
                background: white;
                text-decoration: none;
                color: #444;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: column;
                min-height: 100%;
                position: relative;
                top: 0;
                transition: all .1s ease-in;
                &:hover{
                    top: -2px;
                    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
                }
                .thumb{
                    padding-bottom: 60%;
                    background-size: cover;
                    background-position: center center;
                    background-image: url(../img/Imagen7.jpg);
                }
                article{
                    padding: 20px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h1{
                        font-size: 20px;
                        margin: 0;
                        color: #333;
                    }
                    p{
                        flex: 1;
                        line-height: 1.4;
                        margin-top: 10px;
                        &:hover{
                            color: rgb(75, 169, 171);
                        }
                    }
                    span{
                        font-size: 12px;
                        font-weight: bold;
                        color: #999;
                        text-transform: uppercase;
                        letter-spacing: .05em;
                        margin: 2em 0 0 0;
                    }
                }
            }
        }
    }
}

/**-----HISTORIA-----**/
.historia-historia{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    color: #676767;
    margin: 30px 0;
    .historia-historia-izquierda{
        width: 50%;
        h2{
            font-size: 25px;
            font-weight: bold;
            color: rgb(75, 169, 171);
            margin-bottom: 50px;
            span{
                color: #999999;
                font-size: 20px;
                font-weight: 500;
            }
        }
        p{
            font-size: 17px;
            text-align: justify;
            margin-bottom: 10px;
        }
    }
    .historia-historia-derecha{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 40%;
        div{
            background-color: rgba(233, 233, 233, 0.692);
            align-items: center;
            width: 100%;
            text-align: center;
            margin: 30px;
            h3{
                background-color: rgb(75, 169, 171);
                color: white;
                text-align: center;
                padding: 20px;
                border-radius: 5px 5px 0 0;
                font-weight: bold;
                font-size: 19px;
            }
            p{
                font-size: 17px;
                text-align: center;
                font-weight: bold;
                margin: 5px;
                padding: 0 10px 10px 10px;
                span{
                    font-size: 16px;
                    font-weight: normal;
                }
            }
        }
    }
}

.historias-historia-general{
    background-color: rgba(233, 233, 233, 0.692);
    width: 100%;
    margin: 50px auto 0 auto;
    h2{
        background-image: linear-gradient(to right, rgb(75, 169, 171) 50%, rgba(0, 187, 255, 0.79) 100%);
        color: white;
        text-align: center;
        padding: 20px;
        font-weight: bold;
        font-size: 28px;
        margin: 0;
    }
    .historias-historia{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px;
        padding-bottom: 100px;
        color: #676767;
        .contenedor-historia{
            width: 330px;
            height: auto;
            overflow: hidden;
            border-radius: 1px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
            transition: all 0.25s ease-in;
            border-bottom: 5px solid transparent;
            margin: 10px;
            &:hover{
                transform: translateY(-5px);
                border: none;
                border-bottom: 5px solid #4da078;
            }
            img{
                width: 100%;
            }
            div{
                padding: 32px;
                h4{
                    margin-bottom: 16px;
                }
                p{
                    margin-bottom: 30px;
                }
                a{
                    text-decoration: none;
                    outline: none;
                    color: #4da078;
                    text-transform: uppercase;
                    font-weight: bold;
                    &:hover{
                        color: #57c891;
                    }
                }
            }
        }
    }
}
